@font-face {
	font-family: 'Great Vibes';
	src: url('greatvibes.woff');
}

:root {
	--yellow: hsl(61, 86%, 77%);
	--lightblue: hsl(145, 34%, 89%);
	--blue: hsl(190, 52%, 50%);
	--magenta: hsl(350, 80%, 55%);
	--darkgray: hsl(227, 15%, 24%);
}

body {
	margin: auto;
	font: 100%/1.6 Optima, sans-serif;
	font-kerning: normal;
	font-synthesis: none;
	background-color: white;
	color: hsl(227, 15%, 24%);
}

a {
	color: hsl(190, 52%, 50%);
}

	a:not(:hover) {
		text-decoration: none;
	}

ul {
	padding: 0;
}

h1 {
	margin: 1em 0 0;
	font-family: Great Vibes;
	font-size: 300%;
	line-height: 1.2;
	font-weight: normal;
	color: hsl(350, 80%, 55%);
}

section section h1,
section article h1,
h2 {
	margin: 2em 0 0;
	font-family: Optima, sans-serif;
	font-size: 150%;
	font-weight: bold;
}

section section section h1,
section section article h1,
section h2 {
	font-size: 120%;
	color: hsl(227, 10%, 50%);
}

body > header,
body > nav,
body > section,
body > footer {
	padding: 0 calc(50% - 20rem);
}

	@media (max-width: 50rem) {
		body > header,
		body > nav,
		body > section,
		body > footer {
			padding: 0 2em;
		}
	}

	@media (min-width: 110rem) {
		body > header,
		body > nav,
		body > section,
		body > footer {
			padding: 0 calc(50% - 35rem);
		}
	}

@keyframes move {
	from { background-position: -7.5em 100%, -5em 100%, -10em 100%, -20em 100%; }
}

body > header {
	position: relative;
	padding-top: .5em;
	font-size: 200%;
	color: hsl(190, 52%, 50%);
	
	background: radial-gradient(circle at 50% 90%, white 1em, transparent 0) -2.5em 100% / 5em 5em,
	            radial-gradient(circle at bottom, white 1.5em, hsl(145, 34%, 99%) 2em, transparent 0) 0em 100% / 5em 5em,
	            radial-gradient(circle at bottom, white 2em, hsl(145, 34%, 99%) 3em, transparent 0) 0 100% / 10em 10em,
	            radial-gradient(circle at bottom, white 3em, hsl(145, 34%, 98%) 4em, transparent 0) 0em 100% / 20em 20em;
	background-repeat: repeat-x;
	background-color: hsl(145, 34%, 89%);
	animation: 20s move infinite linear;
}

	body > header:hover {
		animation-play-state: paused;
	}

	body > header h1 {
		position: relative;
		display: inline-block;
		padding: .5em .75em 0 0;
		margin: 0;
		font-size: 300%;
		color: inherit;
		line-height: 1;
		background: url("logo.svg") top right / 1.2em 1.2em no-repeat;
	}

	body > header p {
		margin: -.75em 0 0;
		text-transform: uppercase;
		font-size: 50%;
		line-height: 1;
		letter-spacing: .08em;
	}


body > section#intro {}

	body > section#intro p {
		font-size: 120%;
		font-style: italic;
	}

	body > section#intro ul {
		font-size: 80%;
	}

		body > section#intro li {
			position: relative;
			display: inline-block;
			width: 49%;
			width: calc(50% - .3em);
			margin-bottom: 1em;
			list-style: none;
		}

			body > section#intro li::before {
				content: "✓";
				position: absolute;
				right: 100%;
				top: 0;
				z-index: -1;
				color: hsl(145, 50%, 80%);
				font-size: 400%;
				line-height: 1;
			}

			body > section#intro li strong {
				display: block;
				font-size: 125%;
			}

	body > section#intro nav {
		margin: 2em 0;
		text-align: center;
	}

		body > section#intro nav a {
			display: inline-block;
			padding: .1em .5em;
			border: .15em solid;
			border-radius: .3em;
			margin: 0 .1em;
			font-size: 120%;
			text-decoration: none;
			font-weight: 600;
			color: hsl(350, 80%, 55%);
		}

		body > section#intro nav a:hover {
			background: hsl(350, 80%, 55%);
			border-color: hsl(350, 80%, 55%);
			color: white;
		}

#docs article:target {
	background: linear-gradient(transparent, white 50%) 0 0 / 100%  8em,
	            repeating-linear-gradient(135deg, hsl(350, 80%, 96%) 0, hsl(350, 80%, 96%) .5em, white 0, white 1em) 0 0 / 100% 8em repeat-x;
}

body > footer {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 1em;
	background: hsl(227, 15%, 24%);
	color: white;
}

.tag {
	display: inline-block;
	vertical-align: middle;
	padding: 0 .4em;
	border-radius: .3em;
	background: black;
	color: white;
	font-weight: bold;
	font-size: .8rem;
	line-height: 1.5;
	text-transform: uppercase;
	cursor: help;
}

	.tag.element {
		background: yellowgreen;
	}

	.tag.array {
		background: hsl(350, 80%, 55%);
	}

	.tag.set {
		background: hsl(190, 52%, 50%);
	}

.args {}

	.args dt {
		margin-top: .6em;
		font-weight: bold;
		font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	}

	.args dd.type {
		width: 100%;
		margin-top: -1.5em;
		font-style: italic;
		text-align: right;
	}

@media (min-width: 60em) and (min-height: 30em) {
	#toc {
		position: fixed;
		bottom: 0;
		padding: 1em;
		box-sizing: border-box;
		max-width: 100vh;
		font-size: 80%;
	}
}

@media (max-width: 60em), (max-height: 30em) {
	#toc > ol {
		-webkit-column-count: 2;
		-moz-column-count: 2;
		column-count: 2;
	}
}

	#toc ol {
		list-style-type: none;
	}

	#toc > ol {
		padding-left: 0;
		font-weight: bold;
	}

	#toc ol ol {
		font-weight: normal;
		padding-left: 1em;
	}

		#toc ol ol a {
			color: hsl(227, 15%, 24%);
		}