@font-face {
	font-family: 'Great Vibes';
	src: url('greatvibes.woff');
}

:root {
	--yellow: hsl(61, 86%, 77%);
	--lightblue: hsl(145, 34%, 89%);
	--blue: hsl(190, 52%, 50%);
	--magenta: hsl(350, 80%, 55%);
	--darkgray: hsl(227, 15%, 24%);

	--body-font: Optima, sans-serif;
}

body {
	margin: auto;
	font: 100%/1.6 Optima, sans-serif;
	font-kerning: normal;
	font-synthesis: none;
	background-color: white;
	color: hsl(227, 15%, 24%);
}

a {
	color: hsl(190, 52%, 50%);
}

	a:not(:hover) {
		text-decoration: none;
	}

ul {
	padding: 0;
}

h1 {
	margin: 1em 0 0;
	font-family: Great Vibes;
	font-size: 300%;
	line-height: 1.2;
	font-weight: normal;
	color: hsl(350, 80%, 55%);
}

section section h1,
section article h1,
h2 {
	margin: 2em 0 0;
	font-family: Optima, sans-serif;
	font-size: 150%;
	font-weight: bold;
}

section section section h1,
section section article h1,
section h2 {
	font-size: 120%;
	color: hsl(227, 10%, 50%);
}

body > header,
body > nav,
body > section,
body > footer {
	padding: 0 calc(50% - 22rem);
}

	@media (max-width: 50em) {
		body > header,
		body > nav,
		body > section,
		body > footer {
			padding: 0 2em;
		}
	}

	@media (min-width: 100em) {
		body > header,
		body > nav,
		body > section,
		body > footer {
			padding: 0 calc(50% - 35rem);
		}
	}

@keyframes move {
	from { background-position: -7.5em 100%, -5em 100%, -10em 100%, -20em 100%; }
}

body > header {
	position: relative;
	padding-top: .5em;
	font-size: 200%;
	color: hsl(190, 52%, 50%);
	
	background: radial-gradient(circle at 50% 90%, white 1em, transparent 0) -2.5em 100% / 5em 5em,
	            radial-gradient(circle at bottom, white 1.5em, hsl(145, 34%, 99%) 2em, transparent 0) 0em 100% / 5em 5em,
	            radial-gradient(circle at bottom, white 2em, hsl(145, 34%, 99%) 3em, transparent 0) 0 100% / 10em 10em,
	            radial-gradient(circle at bottom, white 3em, hsl(145, 34%, 98%) 4em, transparent 0) 0em 100% / 20em 20em;
	background-repeat: repeat-x;
	background-color: hsl(145, 34%, 89%);
	animation: 20s move infinite linear;
}

	body > header:hover {
		animation-play-state: paused;
	}

	body > header h1,
	.logo {
		position: relative;
		display: inline-block;
		padding: .5em .75em 0 0;
		margin: 0;
		font: 300%/1 Great Vibes, cursive;
		color: hsl(190, 52%, 50%);
		background: url("logo.svg") 1.5em 0 / 1.2em 1.2em no-repeat;
	}

	body > header p,
	.logo span {
		margin: -.75em 0 0;
		text-transform: uppercase;
		font-size: 50%;
		line-height: 1;
		letter-spacing: .08em;
	}


body > section#intro {}

	body > section#intro p {
		font-size: 120%;
		font-style: italic;
	}

	body > section#intro ul {
		font-size: 80%;
	}

		body > section#intro li {
			position: relative;
			margin: 0 0 1em 2.5em;
			list-style: none;
		}

		@media (min-width: 50em) {
			body > section#intro li {
				display: inline-block;
				vertical-align: top;
				width: calc(50% - 2.8em);
			}
		}

			body > section#intro li::before {
				content: "✓";
				position: absolute;
				right: 100%;
				top: 0;
				z-index: -1;
				color: hsl(145, 50%, 80%);
				font-size: 400%;
				line-height: 1;
			}

			body > section#intro li strong {
				display: block;
				font-size: 125%;
			}

	body > section#intro nav {
		margin: 2em 0;
		text-align: center;
	}

		body > section#intro nav a,
		.button {
			display: inline-block;
			padding: .1em .5em;
			border: .15em solid;
			border-radius: .3em;
			margin: 0 .1em;
			font-size: 120%;
			text-decoration: none;
			font-weight: 600;
			color: hsl(350, 80%, 55%);
		}

		body > section#intro nav a:hover,
		.button:hover {
			background: hsl(350, 80%, 55%);
			border-color: hsl(350, 80%, 55%);
			color: white;
		}

#docs article:target {
	background: linear-gradient(hsla(0,0%,100%,.6), white 60%) 0 0 / 100%  8em,
	            repeating-linear-gradient(135deg, hsl(61, 86%, 77%) 0, hsl(61, 86%, 77%) .5em, white 0, white 1em) 0 0 / 100% 8em repeat-x;
}

body > footer {
	padding-top: 1em;
	padding-bottom: 1em;
	margin-top: 1em;
	background: hsl(227, 15%, 24%);
	color: white;
}

/* Index page */
#download:not(:target) {
	display: none;
}

	#download p {
		margin: .3em 0;
		font-weight: bold;
	}

	.bliss-compression {
		margin: 1em 0;
	}

	.bliss-type label {
		display: block;
		padding: 1em;
		border-radius: .6em;
		margin: 0 .5% .5em;
		box-sizing: border-box;
		font-size: 80%;
		cursor: pointer;
		border: .2em solid hsl(145, 34%, 89%);
	}

	@media (min-width: 50em) {
		.bliss-type label {
			display: inline-block;
			vertical-align: top;
			width: 48%;
		}
	}

	.bliss-type label:hover {
		background: hsl(145, 34%, 96%);
	}

	.bliss-type input {
		position: absolute;
		clip: rect(0,0,0,0);
	}

	.bliss-type :checked + label {
		background: hsl(145, 34%, 89%);
	}

	#download .bliss-type code {
		background: none;
		box-shadow: none;
	}

	.bliss-type .logo {
		display: block;
		width: fit-content;
		margin: 0 auto .2em;
		font-size: 500%;
	}

		[for="type-shy"] .logo {
			background-image: url("logo-shy.svg");
			color: hsl(350, 80%, 55%);
		}

		.bliss-type .logo span {
			display: block;
			text-align: right;
			font-family: Optima, sans-serif;
			font-size: 25%;
		}